$color: (
	"white": #fff,
	"blue": #597f85,
	"lightgrey": #e2dede,
	"lightergrey": #ececec,
	"lowgrey": #d6d6d67d,
	"brown": #4d4646,
	"red": #e9d1d1,
	"skyblue": #597f85,
	"green": #597f85,
	"black": rgba(102, 99, 99, 0.241),
);

$transition: all 0.5s ease-in-out;
$fonts: (
	"smaller": 10px,
	"small": 13px,
	"medium": 16px,
	"big": 18px,
	"bigger": 21px,
	"large": 30px,
);

@font-face {
	font-family: Pop;
	src: url(../fonts/Poppins-Light.ttf);
}

$shadow: 0px 0px 10px 1px
	map-get(
		$map: $color,
		$key: "black",
	);
