@import "./global";

.alert {
  background: #1b7e1bab;
  border-radius: 5px;
  font-size: 0.7em;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;

  .close {
    font-size: 1.6em;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    color: gray;
  }
}

.auth {
  .wrapper-flex {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 3em auto;
    justify-content: space-around;
    position: relative;
    background-color: $skyblue;
    border-radius: 66% 40% 41% 58% / 54% 45% 58% 58%;
    min-height: 100vh;
  }

  .auth-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 1em auto;

    .logo {
      font-size: 1.5em;
      color: $btn-secondary;
      font-weight: 600;
      text-decoration: none;
    }

    .header-center {
      display: flex;
      gap: 1em;

      a {
        text-decoration: none;
        color: $text-secondary;
        font-size: 0.8em;
        font-weight: 500;
      }
    }

    .header-right {
      .signup-link {
        background-color: $btn-secondary;
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 0.8em;
        border-radius: 50px;
      }
    }
  }
  .auth_form {
    background-color: #fff;
    box-shadow: $shadow-primary;
    width: 350px;
    max-width: 90vw;
    margin-top: 1em;
    padding: 2em;
    border-radius: 20px;
    padding-bottom: 4em;
    position: relative;
    z-index: 100;

    .primary-text {
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      color: $btn-primary;
      margin-bottom: 2em;
    }

    .secondary-text {
      font-size: 0.8em;
      margin-top: 1em;
    }

    .form-group {
      margin-top: 1em;
      position: relative;

      .form-control {
        width: 100%;
        padding: 15px;
        background-color: $skyblue;
        color: inherit;
        font-family: Poppins;
        border-radius: 50px;
        outline: none;
        border: none;
        box-shadow: $shadow-secondary;

        &.user-gender {
          font-size: 13px;
          color: grey;
          font-weight: 400;
          cursor: pointer;
        }
      }

      .options-wrapper {
        background-color: #fff;
        font-weight: 400;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $shadow-primary;
        position: absolute;
        z-index: 100;
        width: 100%;
        font-size: 14px;
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
        opacity: 0;
        transform: scale(0.8);

        .option {
          transition: $transition;
          cursor: pointer;
          padding: 5px;
          border-radius: 5px;

          &:active,
          &:hover {
            background-color: $skyblue;
          }
        }
      }

      .invalid-feedback {
        color: red;
        font-size: 0.7em;
        padding-left: 20px;
        font-weight: 500;
        display: none;
      }

      .password-toggle,
      .options-toggle {
        position: absolute;
        top: 14px;
        right: 15px;
        display: grid;
        transition: $transition;
      }

      .options-toggle {
        top: 17px;
        right: 17px;
        pointer-events: none;
      }

      &.error {
        .form-control {
          background-color: $error;
          box-shadow: $shadow-error;
        }

        .invalid-feedback {
          display: block;
        }
      }

      &.show {
        .backdrop {
          position: fixed;
          content: "";
          top: 0;
          left: 0;
          height: 100vh;
          width: 100vw;
          background-color: transparent;
        }
        .options-wrapper {
          opacity: 1;
          pointer-events: all;
          transform: scale(1);
        }

        .options-toggle {
          transform: rotateZ(-180deg);
        }
      }
    }

    .btn.submit_btn {
      padding: 15px;
      background-color: $btn-primary;
      color: #fff;
      font-weight: 600;
      font-family: Poppins;
      text-align: center;
      outline: none;
      border: none;
      transition: $transition;
      width: 100%;
      border-radius: 50px;
      margin: 2em auto 1em;
      cursor: pointer;

      &:hover {
        background-color: $hover;
      }

      &:active {
        transform: scale(0.8);
      }
    }

    .register-link {
      font-size: 14px;
      margin-top: 1em;
      text-align: center;

      a {
        text-decoration: none;
        color: $btn-primary;
        font-weight: 500;

        &:hover {
          color: rgb(69, 69, 150);
        }

        &:active {
          color: red;
        }
      }
    }
  }

  .svg-container {
    position: relative;
    z-index: 20;
    max-width: 50vw;
    background-color: #fff;
    border-radius: 66% 77% 41% 97% / 81% 92% 58% 58%;
    padding: 50px;

    img {
      width: 400px;
      max-width: 90%;
      margin: auto;
    }
  }

  @media (max-width: 700px) {
    .wrapper-flex {
      border-radius: 30%;
      flex-wrap: wrap-reverse;
    }

    .svg-container {
      position: absolute;
      max-width: 100vw;
    }
  }
}
