* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f2f2fb;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  font-family: Poppins;
  position: relative;
}

.alert {
  background: #1b7e1bab;
  border-radius: 5px;
  font-size: 0.7em;
  color: #fff;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.alert .close {
  font-size: 1.6em;
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 20px;
  color: gray;
}

.auth .wrapper-flex {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background-color: rgba(173, 199, 215, 0.38);
  border-radius: 66% 40% 41% 58% / 54% 45% 58% 58%;
  min-height: 100vh;
}

.auth .auth-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 1em auto;
}

.auth .auth-header .logo {
  font-size: 1.5em;
  color: #369298;
  font-weight: 600;
  text-decoration: none;
}

.auth .auth-header .header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.auth .auth-header .header-center a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
  font-weight: 500;
}

.auth .auth-header .header-right .signup-link {
  background-color: #369298;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 0.8em;
  border-radius: 50px;
}

.auth .auth_form {
  background-color: #fff;
  -webkit-box-shadow: 0 0 50px 3px rgba(173, 199, 215, 0.38);
          box-shadow: 0 0 50px 3px rgba(173, 199, 215, 0.38);
  width: 350px;
  max-width: 90vw;
  margin-top: 1em;
  padding: 2em;
  border-radius: 20px;
  padding-bottom: 4em;
  position: relative;
  z-index: 100;
}

.auth .auth_form .primary-text {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: #82b5d2;
  margin-bottom: 2em;
}

.auth .auth_form .secondary-text {
  font-size: 0.8em;
  margin-top: 1em;
}

.auth .auth_form .form-group {
  margin-top: 1em;
  position: relative;
}

.auth .auth_form .form-group .form-control {
  width: 100%;
  padding: 15px;
  background-color: rgba(173, 199, 215, 0.38);
  color: inherit;
  font-family: Poppins;
  border-radius: 50px;
  outline: none;
  border: none;
  -webkit-box-shadow: 0 0 20px 0px rgba(173, 199, 215, 0.38);
          box-shadow: 0 0 20px 0px rgba(173, 199, 215, 0.38);
}

.auth .auth_form .form-group .form-control.user-gender {
  font-size: 13px;
  color: grey;
  font-weight: 400;
  cursor: pointer;
}

.auth .auth_form .form-group .options-wrapper {
  background-color: #fff;
  font-weight: 400;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 3px rgba(173, 199, 215, 0.38);
          box-shadow: 0 0 50px 3px rgba(173, 199, 215, 0.38);
  position: absolute;
  z-index: 100;
  width: 100%;
  font-size: 14px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.auth .auth_form .form-group .options-wrapper .option {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.auth .auth_form .form-group .options-wrapper .option:active, .auth .auth_form .form-group .options-wrapper .option:hover {
  background-color: rgba(173, 199, 215, 0.38);
}

.auth .auth_form .form-group .invalid-feedback {
  color: red;
  font-size: 0.7em;
  padding-left: 20px;
  font-weight: 500;
  display: none;
}

.auth .auth_form .form-group .password-toggle,
.auth .auth_form .form-group .options-toggle {
  position: absolute;
  top: 14px;
  right: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.auth .auth_form .form-group .options-toggle {
  top: 17px;
  right: 17px;
  pointer-events: none;
}

.auth .auth_form .form-group.error .form-control {
  background-color: #9d353540;
  -webkit-box-shadow: 0 0 20px 0px #9d353540;
          box-shadow: 0 0 20px 0px #9d353540;
}

.auth .auth_form .form-group.error .invalid-feedback {
  display: block;
}

.auth .auth_form .form-group.show .backdrop {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.auth .auth_form .form-group.show .options-wrapper {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.auth .auth_form .form-group.show .options-toggle {
  -webkit-transform: rotateZ(-180deg);
          transform: rotateZ(-180deg);
}

.auth .auth_form .btn.submit_btn {
  padding: 15px;
  background-color: #82b5d2;
  color: #fff;
  font-weight: 600;
  font-family: Poppins;
  text-align: center;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
  border-radius: 50px;
  margin: 2em auto 1em;
  cursor: pointer;
}

.auth .auth_form .btn.submit_btn:hover {
  background-color: #135062;
}

.auth .auth_form .btn.submit_btn:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.auth .auth_form .register-link {
  font-size: 14px;
  margin-top: 1em;
  text-align: center;
}

.auth .auth_form .register-link a {
  text-decoration: none;
  color: #82b5d2;
  font-weight: 500;
}

.auth .auth_form .register-link a:hover {
  color: #454596;
}

.auth .auth_form .register-link a:active {
  color: red;
}

.auth .svg-container {
  position: relative;
  z-index: 20;
  max-width: 50vw;
  background-color: #fff;
  border-radius: 66% 77% 41% 97% / 81% 92% 58% 58%;
  padding: 50px;
}

.auth .svg-container img {
  width: 400px;
  max-width: 90%;
  margin: auto;
}

@media (max-width: 700px) {
  .auth .wrapper-flex {
    border-radius: 30%;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .auth .svg-container {
    position: absolute;
    max-width: 100vw;
  }
}
/*# sourceMappingURL=auth.css.map */