@import "./_global";

.main_container {
  &::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: $skyblue;
    right: -300px;
    top: -300px;
  }
  &::after {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    background-color: $skyblue;
    right: -100px;
    top: -600px;
  }
  .main_wrapper {
    position: relative;
    z-index: 4;

    .main-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;
      justify-content: space-between;
      padding: 10px 20px;
      max-width: 1200px;
      margin: 1em auto;

      .logo {
        font-size: 1.5em;
        color: $btn-secondary;
        font-weight: 600;
      }

      .header-center {
        display: flex;
        gap: 1em;

        a {
          text-decoration: none;
          color: $text-secondary;
          font-size: 0.8em;
          font-weight: 500;
        }
      }

      .header-right {
        display: flex;
        gap: 1em;

        .link {
          background-color: $btn-secondary;
          color: #fff;
          font-weight: 500;
          text-decoration: none;
          padding: 10px 20px;
          font-size: 0.8em;
          border-radius: 50px;
          display: block;

          &.signin-link {
            background: #fff;
            color: $btn-secondary;
          }

          transition: $transition;

          &:hover {
            background-color: $hover;
            transform: scale(1.1);
            color: #fff;
          }

          &:active {
            transform: scale(0.8);
          }
        }
      }
    }

    .section-front {
      display: flex;
      justify-content: space-around;
      padding: 2em 0 2em 2.2em;
      align-items: center;

      .board-text-wrapper {
        max-width: 400px;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          background-color: $skyblue;
          top: -30%;
          left: -26%;
          filter: blur(110px);
          width: 500px;
          height: 500px;
          border-radius: 50%;
          z-index: -1;
        }
        &::after {
          position: absolute;
          content: "";
          background-color: $skyblue;
          top: 10%;
          left: 30%;
          border-radius: 66% 77% 41% 97% / 81% 92% 58% 58%;
          width: 300px;
          height: 300px;
          z-index: -1;
        }

        .primary-text {
          font-size: 2.5em;
          font-weight: 600;
          color: $text-primary;
          line-height: 1.2;
          margin-bottom: 0.4em;
        }

        .secondary-text {
          color: $text-secondary;
          font-size: 15px;
          font-weight: 500;
          margin-bottom: 1em;
        }

        .btn-explore {
          background-color: $btn-secondary;
          color: #fff;
          font-weight: 500;
          text-decoration: none;
          padding: 15px 50px;
          font-size: 0.8em;
          display: inline-block;
          border-radius: 50px;
          outline: none;
          border: none;
          font-family: Poppins;
          transition: $transition;

          &:hover {
            background-color: $hover;
            transform: scale(1.1);
          }

          &:active {
            transform: scale(0.8);
          }
        }
      }

      .svg_container {
        .svg {
          width: 400px;
        }
      }
    }

    .section-objectives {
      margin-block: 5em;

      .card-group {
        display: flex;
        gap: 30px;
        justify-content: center;
      }

      .card {
        width: 33.3%;
        max-width: 300px;

        .card-wrapper {
          background: #fff;
          border-radius: 150px;
          height: 300px;
          padding: 2em;

          box-shadow: $shadow-primary;
        }

        .card-image {
          .image {
            display: block;
            width: 80%;
            margin: auto;
            border-radius: 10px;
            height: 160px;
          }
        }

        .card-text {
          font-size: 14px;
          text-align: center;
          margin-top: 1em;
        }

        .card-action {
          width: max-content;
          margin: auto;

          .btn {
            background: $btn-secondary;
            outline: none;
            border: none;
            border-radius: 50px;
            min-width: 120px;
            min-height: 50px;
            box-shadow: $shadow-primary;
            margin-top: 2em;
          }
        }
      }
    }
  }
}
