@font-face {
  font-family: Pop;
  src: url(../fonts/Poppins-Light.ttf);
}

*,
:focus,
:active {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

body {
  font-family: Pop;
  background: #fff;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
}

.icon {
  cursor: pointer;
}

.toolpit {
  position: absolute;
  top: 4px;
  left: 20px;
  z-index: 100000;
  background: black;
  color: #c3bcbc;
  font-size: 10px;
  padding: 5px 10px;
  font-weight: 600;
  display: none;
  border-radius: 5px;
}

.toolpit.show {
  display: block;
}

.toolpit::before {
  position: absolute;
  left: 43%;
  content: "";
  background: inherit;
  bottom: -4px;
  height: 10px;
  width: 10px;
  transform: rotateZ(135deg) translateX(-13%);
}

.toolpit span {
  position: relative;
  z-index: 10;
}

@keyframes shadow {
  50% {
    box-shadow: 0px 0px 2px 2px #dc121261;
  }
  100% {
    box-shadow: 0px 0px 4px 4px #dc121261;
  }
}

.container {
  position: relative;
  max-width: 1366px;
  margin: auto;
}

.wrapper header {
  background: #ececec;
  grid-column: 1/6;
  padding: 5px 10px;
  user-select: none;
  position: relative;
  z-index: 10000;
}

.wrapper header .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper header .logo-wrapper {
  font-weight: 500;
}

.wrapper header .coin-wrapper {
  font-weight: 500;
  width: 100px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background: #fff;
}

.wrapper header .search-container {
  height: 30px;
  width: 250px;
  margin-top: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
  z-index: 10000;
}

.wrapper header .search-container .search-form {
  position: relative;
  z-index: 10000;
}

.wrapper header .search-container .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  left: 10px;
}

@media (max-width: 399px) {
  .wrapper header .search-container.not-focus .search-icon {
    background: transparent;
    left: 5px;
  }
}

.wrapper header .search-container #search {
  transition: all 0.5s ease-in-out;
}

.wrapper header .search-container #search.active {
  top: 0;
  position: fixed;
  left: 15px;
}

@media (max-width: 649px) {
  .wrapper header .search-container #search.active {
    top: 10px;
  }
}

@media (max-width: 399px) {
  .wrapper header .search-container #search.active {
    left: 5px;
  }
}

@media (max-width: 549px) {
  .wrapper header .search-container #search.active #form-control {
    display: block;
  }
}

.wrapper header .search-container .form-control {
  padding: 5px 5px 5px 40px;
  border: none;
  width: 220px;
  height: 30px;
  outline: none;
  border-radius: 60px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
}

@media (min-width: 800px) {
  .wrapper header .search-container .form-control {
    width: 300px;
  }
}

.wrapper header .search-container .form-control::placeholder {
  font-weight: 600;
}

@media (max-width: 399px) {
  .wrapper header .search-container.not-focus .form-control {
    width: 30px;
    padding: 0;
    border-radius: 50%;
  }
  .wrapper header .search-container.not-focus .form-control::placeholder {
    color: white;
  }
}

.wrapper header .search-container .search-results {
  height: 0;
  width: 0;
  position: absolute;
  top: -10px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  background: #ececec;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.wrapper header .search-container .search-results.show {
  height: calc(100vh - 50px);
  width: 600px;
}

@media (max-width: 649px) {
  .wrapper header .search-container .search-results.show {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
  }
}

.wrapper header .search-container .search-results::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.wrapper header .search-container .search-results .close-btn {
  position: relative;
  background: transparent;
  width: 100%;
  height: 50px;
}

.wrapper header .search-container .search-results .close-btn .close {
  padding: 5px 17px;
  position: absolute;
  cursor: pointer;
  right: 15px;
  top: 0px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  background: #fff;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.wrapper header .search-container .search-results .close-btn .close::after {
  padding: 5px 10px;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 8px;
  right: 8px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  background: #fff;
}

@media (max-width: 399px) {
  .wrapper header .search-container .search-results .close-btn .close {
    right: 0;
  }
}

.wrapper header .search-container .search-results .close-btn .close span {
  z-index: 10;
  position: relative;
}

.wrapper header .search-container .search-results .listed-matched {
  overflow: hidden scroll;
  height: calc(100vh - 50px);
  position: relative;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 649px) {
  .wrapper header .search-container .search-results .listed-matched {
    height: calc(100vh);
  }
}

.wrapper header .search-container .search-results .listed-matched::-webkit-scrollbar {
  display: none;
  width: 0px;
}

.wrapper header .search-container .search-results .listed-matched .header {
  font-weight: 600;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  backdrop-filter: blur(5px);
  background: #d6d6d67d;
  top: 0;
  font-size: 13px;
  margin-bottom: 10px;
}

.wrapper header .search-container .search-results .users {
  list-style: none;
  padding: 0px 10px;
}

.wrapper header .search-container .search-results .users .user {
  border-radius: 50px;
  background: #fff;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
}

.wrapper header .search-container .search-results .users .user .image {
  height: 35px;
  width: 35px;
  border-radius: 50px;
}

.wrapper header .search-container .search-results .users .user .btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.wrapper header .search-container .search-results .users .user .btn {
  height: 30px;
  border-radius: 50px;
  width: 80px;
  display: grid;
  place-items: center;
  font-size: 10px;
  font-weight: 600;
  background: #ececec;
  color: #597f85;
}

.wrapper header .search-container .search-results .users .user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper header .search-container .search-results .users .user-profile .user-name {
  margin-left: 5px;
  font-weight: 600;
  line-height: 15px;
  color: #4d4646;
  font-size: 13px;
  text-align: left;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 399px) {
  .wrapper header .search-container .search-results .users .user-profile .user-name {
    font-size: 10px;
  }
}

.wrapper header .search-container .search-results .users .user-profile .user-name .username {
  color: #597f85;
  font-size: 10px;
}

@media (max-width: 399px) {
  .wrapper header .search-container .search-results .users .user .add {
    width: 50px;
    border-radius: 10px;
  }
}

@media (max-width: 549px) {
  .wrapper header .search-container .search-results .users .user .add {
    width: 60px;
  }
}

.wrapper header .top-navigation {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.wrapper header .top-navigation .icon {
  border-radius: 60px;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  background: #fff;
}

.wrapper header .top-navigation .friendrequest-wrapper {
  position: relative;
  width: 30px;
}

.wrapper header .top-navigation .friendrequest-wrapper .unseen {
  position: absolute;
  top: -14px;
  right: -3px;
  background: #5f8389;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-weight: 600;
  color: white;
  font-size: smaller;
}

.wrapper header .top-navigation .friendrequest-wrapper .request-box {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: fixed;
  top: 90px;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  z-index: 100;
  transition: all 0.5s ease-in-out;
  background: #ececec;
}

.wrapper header .top-navigation .friendrequest-wrapper .request-box.show {
  width: 600px;
  overflow: auto;
  height: calc(100vh - 100px);
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  z-index: 1000000;
}

@media (max-width: 649px) {
  .wrapper header .top-navigation .friendrequest-wrapper .request-box.show {
    width: 500px;
  }
}

@media (max-width: 549px) {
  .wrapper header .top-navigation .friendrequest-wrapper .request-box.show {
    top: 0;
    height: 100vh;
    width: 100vw;
  }
}

.wrapper header .top-navigation .friendrequest-wrapper .request-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.wrapper header .top-navigation .friendrequest-wrapper .request-header .title {
  padding: 8px 15px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  background: #fff;
  font-weight: 500;
}

.wrapper header .top-navigation .friendrequest-wrapper .request-header .title h3 {
  font-size: 13px;
}

.wrapper header .top-navigation .friendrequest-wrapper .request-header .title * {
  color: #4d4646;
}

.wrapper header .top-navigation .friendrequest-wrapper .request-header .close-modal * {
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  cursor: pointer;
  background: #fff;
  font-size: 10px;
  font-weight: 600;
}

.wrapper header .top-navigation .friendrequest-wrapper .users {
  list-style: none;
  padding: 0px 10px;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user {
  border-radius: 50px;
  background: #fff;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user .image {
  height: 35px;
  width: 35px;
  border-radius: 50px;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user .btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user .btn {
  height: 30px;
  border-radius: 50px;
  width: 80px;
  display: grid;
  place-items: center;
  font-size: 10px;
  font-weight: 600;
  background: #ececec;
  color: #597f85;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user-profile .user-name {
  margin-left: 5px;
  font-weight: 600;
  line-height: 15px;
  color: #4d4646;
  font-size: 13px;
  text-align: left;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 399px) {
  .wrapper header .top-navigation .friendrequest-wrapper .users .user-profile .user-name {
    font-size: 10px;
  }
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user-profile .user-name .username {
  color: #597f85;
  font-size: 10px;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user .btn:first-child {
  margin-right: 10px;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user .accept {
  background: #ececec;
  color: #597f85;
}

.wrapper header .top-navigation .friendrequest-wrapper .users .user .reject {
  background: #e9d1d1;
  color: #4d4646;
}

@media (max-width: 399px) {
  .wrapper header .top-navigation .friendrequest-wrapper .users .user .accept,
  .wrapper header .top-navigation .friendrequest-wrapper .users .user .reject {
    width: 50px;
    border-radius: 10px;
  }
}

@media (max-width: 549px) {
  .wrapper header .top-navigation .friendrequest-wrapper .users .user .accept,
  .wrapper header .top-navigation .friendrequest-wrapper .users .user .reject {
    width: 60px;
  }
}

.wrapper header .top-navigation .friendrequest-wrapper .request-box.expand .users {
  visibility: visible;
}

.wrapper header .top-navigation .friendrequest-wrapper .friends .title {
  padding: 3px 15px;
  font-weight: 600;
  font-size: 13px;
  background: #fff;
  margin: 15px 0px;
}

.wrapper header .top-navigation .profile-link-wrapper {
  width: 100px;
  border-radius: 60px;
  background: #fff;
  position: relative;
  transition: all 0.5s ease-in-out;
  border: none;
  float: right;
  outline: none;
  z-index: 100;
}

@media (max-width: 549px) {
  .wrapper header .top-navigation .profile-link-wrapper {
    width: 30px;
  }
}

.wrapper header .top-navigation .profile-link-wrapper.a {
  border: none;
  outline: none;
  width: 200px;
  border-radius: 5px;
}

.wrapper header .top-navigation .profile-link-wrapper .profile-preview {
  display: flex;
  flex-grow: 10px;
  align-items: center;
}

.wrapper header .top-navigation .profile-link-wrapper .profile-preview .image,
.wrapper header .top-navigation .profile-link-wrapper .profile-preview .user-image {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.wrapper header .top-navigation .profile-link-wrapper .profile-preview .username {
  font-size: 10px;
  font-weight: 600;
  margin-left: 2px;
  text-overflow: ellipsis;
}

@media (max-width: 549px) {
  .wrapper header .top-navigation .profile-link-wrapper .profile-preview .user-preview-name {
    display: none;
  }
}

.wrapper header .top-navigation .profile-link-wrapper .profile-expand {
  height: 0;
  overflow: hidden;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand {
  overflow: visible;
  width: 200px;
  position: absolute;
  height: 350px;
  padding: 10px 5px;
  border-radius: 5px;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
  box-shadow: 0px 0px 10px 5px #e2dede;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .image,
.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .user-image {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header {
  display: grid;
  place-items: center;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header .name-wrapper {
  padding-bottom: 3px;
  border-bottom: 1px solid #597f85;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header .name-wrapper,
.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header .name {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  font-family: calibri;
  font-weight: 600;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header .name {
  line-height: 16px;
  margin: 5px;
  font-weight: 500;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header .name .username {
  color: #597f85;
  font-size: 13px;
}

.wrapper header .top-navigation .profile-link-wrapper.a .profile-expand .profile-header .email {
  font-size: 13px;
}

.wrapper header .top-navigation .notifications-wrapper {
  position: relative;
}

.wrapper header .top-navigation .notifications-wrapper .unseen {
  position: absolute;
  top: -14px;
  right: -3px;
  background: #5f8389;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  font-weight: 600;
  color: white;
  font-size: smaller;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box {
  width: 0px;
  height: 0px;
  overflow: hidden;
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 10000;
  transition: all 0.5s ease-in-out;
  background: #ececec;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box.show {
  width: 600px;
  height: calc(100vh - 100px);
  overflow: auto;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
}

@media (max-width: 649px) {
  .wrapper header .top-navigation .notifications-wrapper .notifications-box.show {
    width: 500px;
  }
}

@media (max-width: 549px) {
  .wrapper header .top-navigation .notifications-wrapper .notifications-box.show {
    top: 0;
    height: 100vh;
    width: 100vw;
  }
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box .notifications-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box .notifications-header .title {
  padding: 8px 15px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  background: #fff;
  font-weight: 500;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box .notifications-header .title h3 {
  font-size: 13px;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box .notifications-header .title * {
  color: #4d4646;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-box .notifications-header .close-modal * {
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  background: #fff;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.wrapper header .top-navigation .notifications-wrapper .date {
  padding: 3px 10px;
  background: #fff;
  color: #597f85;
  font-size: 10px;
  font-weight: 600;
}

.wrapper header .top-navigation .notifications-wrapper .notification-image {
  margin-right: 10px;
}

.wrapper header .top-navigation .notifications-wrapper .notification-image .image img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-list {
  list-style: none;
  padding: 10px 20px;
  visibility: visible;
  font-weight: 600;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-list .notification {
  background: #fff;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  display: flex;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-list .text {
  line-height: 13px;
  font-weight: 600;
  font-size: 10px;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-list .text b {
  color: #597f85;
}

.wrapper header .top-navigation .notifications-wrapper .notifications-list .assigned-name {
  font-weight: 700;
  font-size: 13px;
  color: #4d4646;
}

.wrapper header .top-navigation > * {
  height: 30px;
  box-shadow: 0px 0px 10px -5px #4d4646;
  border-radius: 50px;
}

.wrapper header .top-navigation > :not(.profile-link-wrapper) {
  margin-right: 5px;
}

.wrapper .main {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1049px) {
  .wrapper .main {
    max-width: 100vw;
  }
}

.wrapper .sidebar {
  background: #ececec;
  height: calc(100vh - 85px);
  margin-top: 5px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.wrapper .sidebar .navigator-wrapper {
  height: calc(100vh - 85px);
  overflow: auto scroll;
}

.wrapper .sidebar .navigator-wrapper::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 549px) {
  .wrapper .sidebar {
    width: 200px;
    position: absolute;
    left: -200px;
    z-index: 100;
  }
  .wrapper .sidebar.show {
    left: 0px;
  }
  .wrapper .sidebar .toggle {
    position: absolute;
    content: "";
    height: 60px;
    width: 20px;
    top: 10px;
    z-index: 100;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
    background: #d6d6d67d;
  }
  .wrapper .sidebar .toggle::before, .wrapper .sidebar .toggle::after {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 50%;
    transform: translateY(-50%);
    content: "";
    background: #4d4646;
  }
  .wrapper .sidebar .toggle {
    border-radius: 0px 5px 5px 0px;
    right: -20px;
  }
  .wrapper .sidebar .toggle::before {
    right: 7px;
  }
  .wrapper .sidebar .toggle::after {
    right: 14px;
  }
  .wrapper .sidebar.show .toggle {
    top: 0;
    border-radius: 0px 0px 10px 0px;
    box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
    height: 40px;
    background: #4d4646;
  }
  .wrapper .sidebar.show .toggle::before, .wrapper .sidebar.show .toggle::after {
    background: #e2dede;
  }
}

.wrapper .sidebar .preview-profile {
  background: #d6d6d67d;
  padding: 10px;
  padding-bottom: 15px;
  position: sticky;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  top: 0;
}

.wrapper .sidebar .preview-profile .user-image-name-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.wrapper .sidebar .preview-profile .user-image-name-wrapper .image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.wrapper .sidebar .preview-profile .user-image-name-wrapper .name {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  color: #4d4646;
  margin-top: 5px;
  margin-left: 5px;
}

.wrapper .sidebar .preview-profile .user-image-name-wrapper .name .username {
  font-size: 10px;
  color: #597f85;
}

.wrapper .sidebar .preview-profile .message {
  font-size: 13px;
}

.wrapper .sidebar .navigators .group-1 {
  border-bottom: 25px solid #d6d6d67d;
}

.wrapper .sidebar .navigators .links-list {
  list-style: none;
  padding: 10px;
}

.wrapper .sidebar .navigators .links-list li {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.wrapper .sidebar .navigators .links-list li .icon-wrap svg {
  width: 24px;
  height: 24px;
  fill: #4d4646;
}

.wrapper .sidebar .navigators .links-list li .icon-wrap {
  margin-right: 10px;
}

.wrapper .sidebar .navigators .links-list li .link a {
  font-weight: 600;
  font-size: 13px;
  color: #4d4646;
  text-decoration: none;
}

.wrapper .sidebar .navigators .links-list li:hover > .link a {
  color: #597f85;
}

.wrapper .sidebar .navigators .links-list li:hover ~ svg {
  fill: #597f85;
}

.wrapper .main-body {
  flex: 0.9;
  height: calc(100vh - 80px);
  margin-top: 5px;
  position: relative;
  overflow: clip scroll;
}

.wrapper .main-body::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 1049px) {
  .wrapper .main-body {
    flex: 1.5;
  }
}

.wrapper .main-body .posts.social-feeds {
  flex: 0.6;
  position: relative;
  height: 100%;
  overflow: auto scroll;
  max-width: 500px;
  margin: auto;
}

.wrapper .main-body .posts.social-feeds::-webkit-scrollbar {
  width: 0px;
}

.wrapper .main-body .posts.social-feeds .active-feeds {
  padding: 20px 10px;
  background: #d6d6d67d;
}

.wrapper .main-body .posts.social-feeds .active-feeds .feeds-list ul {
  list-style: none;
  display: inline-flex;
}

.wrapper .main-body .posts.social-feeds .active-feeds .feeds-list ul .feeds {
  border-radius: 50%;
  border: 2px dashed #4d4646;
  height: 42px;
  width: 42px;
  display: flex;
  justify-items: center;
  justify-content: center;
  position: relative;
  margin-right: 5px;
}

.wrapper .main-body .posts.social-feeds .active-feeds .feeds-list ul .feeds .image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.wrapper .main-body .posts.social-feeds .upload.create-post {
  position: relative;
  padding: 10px;
}

.wrapper .main-body .posts.social-feeds .text-box {
  position: relative;
}

.wrapper .main-body .posts.social-feeds .text-box .post-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.wrapper .main-body .posts.social-feeds .text-box .post-btn .upload {
  background: transparent;
}

.wrapper .main-body .posts.social-feeds .text-box .post-btn .upload .svg {
  fill: #597f85;
}

.wrapper .main-body .posts.social-feeds .text-control {
  width: 100%;
  height: 40px;
  white-space: wrap;
  padding: 10px 5px 0px;
  border-radius: none;
  border: 2px groove #e2dede;
  resize: none;
}

.wrapper .main-body .posts.social-feeds .text-control::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
}

.wrapper .main-body .posts.social-feeds .alternate-post .alternate-wrap {
  display: flex;
  width: 100%;
  justify-content: center;
}

.wrapper .main-body .posts.social-feeds .alternate-post .alternate {
  display: grid;
  place-items: center;
  width: 32%;
  padding: 5px;
  margin-right: 3px;
  border-radius: 20px;
  background: #d6d6d67d;
}

.wrapper .main-body .posts.social-feeds .alternate-post .svg {
  fill: #4d4646;
}

.wrapper .main-body .posts.social-feeds .alternate-post .svg:hover {
  fill: #597f85;
}

.wrapper .main-body .posts.social-feeds .post {
  background: #d6d6d67d;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.wrapper .main-body .posts.social-feeds .general {
  list-style: none;
}

.wrapper .main-body .posts.social-feeds .post-content {
  position: relative;
}

.wrapper .main-body .posts.social-feeds .post-content .uploader-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
}

.wrapper .main-body .posts.social-feeds .post-content .user-image {
  margin-right: 5px;
}

.wrapper .main-body .posts.social-feeds .post-content .user-image .image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wrapper .main-body .posts.social-feeds .post-content .text {
  font-size: 13px;
  font-weight: 600;
}

.wrapper .main-body .posts.social-feeds .post-content .image-post .image {
  width: 100%;
  max-height: 350px;
}

.wrapper .main-body .posts.social-feeds .feedback {
  display: flex;
  justify-content: center;
  padding: 2px 10px;
  font-size: 10px;
  font-weight: 600;
}

.wrapper .main-body .posts.social-feeds .feedback .replys {
  text-align: center;
  width: 33.3%;
  padding: 0px 5px;
}

.wrapper .main-body .posts.social-feeds .feedback .replys .count {
  background: #fff;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .main-body .posts.social-feeds .feedback .shares-counts svg {
  transform: rotateY(180deg);
}

.wrapper .main-body .posts.social-feeds .recent-comment {
  padding: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.wrapper .main-body .posts.social-feeds .recent-comment .user {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-right: 10px;
}

.wrapper .main-body .posts.social-feeds .recent-comment .user .image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.wrapper .main-body .posts.social-feeds .recent-comment .user .user-image {
  margin-right: 5px;
}

.wrapper .main-body .posts.social-feeds .comment-create-box {
  position: relative;
  padding: 5px 15px;
}

.wrapper .main-body .posts.social-feeds .comment-create-box .text-control {
  width: 100%;
  height: 35px;
  padding: 10px 30px 0px;
  border: none;
  border-radius: 5px;
  background: #fff;
}

.wrapper .main-body .posts.social-feeds .comment-create-box .media-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.wrapper .main-body .posts.social-feeds .comment-create-box .send-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.wrapper .main-body .posts.social-feeds .comment-create-box .send-btn .btn {
  background: transparent;
}

.wrapper .main-body .posts.social-feeds .comment-create-box svg {
  fill: #597f85;
  width: 20px;
  height: 20px;
}

.wrapper .main-body .posts.social-feeds .comment-create-box .media-comment-wrapper {
  position: absolute;
  background: #fff;
  left: 15px;
  top: 50%;
  border-radius: 5px;
  transform: translateY(-50%);
  width: 50%;
  clip-path: circle(0.4% at 0 100%);
}

.wrapper .main-body .posts.social-feeds .comment-create-box .media-comment-wrapper.show {
  clip-path: circle(70.7% at 50% 50%);
}

.wrapper .main-body .posts.social-feeds .comment-create-box .media-comment-wrapper .media-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.wrapper .main-body .chat-form-container {
  flex: 0.6;
  position: absolute;
  right: 0;
  bottom: 10px;
  flex-direction: row;
  display: flex;
  background: white;
  border-radius: 10px;
  flex-wrap: wrap;
}

@media (max-width: 1049px) {
  .wrapper .main-body .chat-form-container {
    right: 30px;
  }
}

@media (max-width: 649px) {
  .wrapper .main-body .chat-form-container {
    height: 100%;
    width: 100%;
    padding: 20px;
    right: 0px;
    bottom: 0;
    border-radius: 0;
    left: 0;
  }
}

@media (max-width: 399px) {
  .wrapper .main-body .chat-form-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    z-index: 10000;
  }
}

.wrapper .main-body .chat-form-container .chats-form {
  height: 100%;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  background: #ececec;
  margin-right: 15px;
  box-shadow: 0px 2px 5px 0px lightgrey;
  overflow: visible;
  position: relative;
}

.wrapper .main-body .chat-form-container .chats-form::-webkit-scrollbar {
  width: 0px;
}

.wrapper .main-body .chat-form-container .chats-form .close-card {
  font-weight: 600;
  background: #d6d6d67d;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  height: 30px;
  top: -20px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 649px) {
  .wrapper .main-body .chat-form-container .chats-form {
    max-width: 500px;
    margin: auto;
    border-radius: 0;
  }
}

@media (max-width: 399px) {
  .wrapper .main-body .chat-form-container .chats-form {
    margin-top: 20px;
  }
}

.wrapper .main-body .chat-form-container .chats-form .room-header {
  height: 50px;
  background: #d6d6d67d;
  padding: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-header .image {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.wrapper .main-body .chat-form-container .chats-form .room-header .profile {
  display: flex;
}

.wrapper .main-body .chat-form-container .chats-form .room-header .profile .image-wrap {
  margin-right: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-header .profile .name {
  line-height: 15px;
}

.wrapper .main-body .chat-form-container .chats-form .room-header .profile .textname {
  font-size: 10px;
  font-weight: 600;
}

.wrapper .main-body .chat-form-container .chats-form .room-header .profile .active-text {
  font-size: 10px;
  color: #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-body {
  width: 100%;
  height: calc(100vh / 2.5);
  padding: 10px 1px 0px 10px;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.wrapper .main-body .chat-form-container .chats-form .room-body::-webkit-scrollbar {
  width: 5px;
}

@media (max-width: 649px) {
  .wrapper .main-body .chat-form-container .chats-form .room-body {
    height: calc(100vh - 226px);
  }
}

@media (max-width: 399px) {
  .wrapper .main-body .chat-form-container .chats-form .room-body {
    height: calc(100vh - 119px);
  }
}

.wrapper .main-body .chat-form-container .chats-form .room-body .alert-message {
  position: absolute;
  bottom: 30%;
  right: 6px;
  font-size: 10px;
  background: #6e8e93;
  height: 20px;
  z-index: 200;
  visibility: hidden;
  pointer-events: none;
  width: 20px;
  display: grid;
  color: white;
  font-weight: 800;
  place-content: center;
  border-radius: 50%;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .alert-message.show {
  visibility: visible;
  pointer-events: visible;
  cursor: pointer;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message.adjust, .wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message.adjust-mg {
  margin-bottom: 3px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message .user-image {
  position: absolute;
  top: -10px;
  left: -10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message .plain-message {
  padding-left: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message.adjust .plain-message,
.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message.adjust-pd .plain-message {
  padding-left: 0px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .incoming-message .text {
  padding: 3px 6px 3px 6px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .text {
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  word-break: break-word;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .time {
  text-align: right;
  border-bottom-right-radius: 20px;
  display: grid;
  padding-right: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .time small {
  font-size: 9px;
  font-weight: 600;
  color: #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .group {
  width: fit-content;
  margin: auto;
  font-size: 9px;
  font-weight: 600;
  margin-bottom: 10px;
  background: white;
  padding: 4px;
  border-radius: 4px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .message-wrapper {
  max-width: 70%;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .plain-message,
.wrapper .main-body .chat-form-container .chats-form .room-body .form-message {
  width: fit-content;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message {
  max-width: 70%;
  position: relative;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .user-image {
  z-index: 20px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .poll-question {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 5px;
  background: #fff;
  border-radius: 20px 20px 0px 0px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .poll-question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .coin,
.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .time-count {
  padding: 5px;
  width: fit-content;
  border-top-right-radius: 20px;
  font-weight: 600;
  color: #4d4646;
  font-size: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .coin b,
.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .time-count b {
  color: #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .time-count {
  border-radius: 0;
  border-top-left-radius: 20px;
  padding-left: 15px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .text {
  background: #d6d6d67d;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .options {
  list-style: none;
  padding: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .options .option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 600;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  padding: 3px 8px 3px 3px;
  border-radius: 20px;
  margin-bottom: 10px;
  color: #4d4646;
  font-size: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .options .option .form-group {
  margin-right: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .options .option #option {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 50%;
  box-shadow: inset 0px 0px 4px 2px #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .options .option #option:checked {
  box-shadow: inset 0px 0px 13px 2px #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .response {
  position: absolute;
  bottom: 0;
  background: #fff;
  box-shadow: 0px -2px 5px 0px #e2dede;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
  font-size: 13px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .form-message .response.won {
  color: #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .outgoing-message {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .outgoing-message.adjust {
  margin-bottom: 3px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .outgoing-message .time-count {
  padding: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .outgoing-message .message-wrapper {
  float: right;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .outgoing-message .form-message {
  float: right;
}

.wrapper .main-body .chat-form-container .chats-form .room-body .outgoing-message .text {
  padding: 4px 5px 2px 5px;
}

.wrapper .main-body .chat-form-container .chats-form .message-options {
  position: absolute;
}

.wrapper .main-body .chat-form-container .chats-form .welcome-message {
  font-size: 10px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer {
  position: relative;
  background: #d6d6d67d;
  width: 100%;
  padding: 10px 10px 10px;
  height: 56px;
  backdrop-filter: blur(10px);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  cursor: pointer;
  display: grid;
  place-items: center;
  transform: translateY(-50%);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .input-group .text-control {
  width: 100%;
  height: 34px;
  resize: none;
  border-radius: 10px;
  padding: 10px 40px 0px;
  font-size: smaller;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .input-group .text-control::-webkit-scrollbar {
  width: 0px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .send-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  height: 100%;
  display: grid;
  cursor: pointer;
  place-items: center;
  transform: translateY(-50%);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .send-btn .btn {
  background: transparent;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .send-btn .btn:focus {
  outline: none;
  border: none;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .send-btn .btn.send.activated .svg {
  fill: #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  transition: all 0.5s ease-in-out;
  clip-path: circle(0.4% at 0 100%);
  overflow: hidden;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper.active {
  background: #d6d6d67d;
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0px 0px;
  z-index: 100;
  clip-path: circle(141% at 0 100%);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper.toggle {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  list-style: none;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list .media,
.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list .poll {
  text-align: center;
  cursor: pointer;
  align-items: center;
  font-size: 10px;
  margin-left: 15px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list .media .icon,
.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list .poll .icon {
  background: white;
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list .media .svg,
.wrapper .main-body .chat-form-container .chats-form .room-footer .media-message-wrapper .media-list .poll .svg {
  width: 20px;
  height: 20px;
  fill: #597f85;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  transition: all 0.5s ease-in-out;
  border-radius: 10px 10px 0px 0px;
  background: #ececec;
  backdrop-filter: blur(10px);
  max-height: 150px;
  overflow: hidden scroll;
  clip-path: circle(0.4% at 0 100%);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question.active {
  clip-path: circle(141% at 0 100%);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question::-webkit-scrollbar {
  width: 2px;
  border-radius: 30%;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question::-webkit-scrollbar-thumb {
  border-radius: 30%;
  background: #4f4f4f;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header {
  background: #d6d6d67d;
  padding-top: 2px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100000;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header .title {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header .discard-wrap,
.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header .create-wrap {
  position: absolute;
  background: #fff;
  top: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 600;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header .discard-wrap {
  left: 0;
  border-top-left-radius: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header .create-wrap {
  right: 0;
  border-top-right-radius: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-header .create-wrap.active.create {
  background: #597f85;
  color: white;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body {
  padding: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .text {
  font-size: 10px;
  font-weight: 600;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question > .text-control {
  height: 35px;
  width: 100%;
  resize: none;
  padding: 10px 10px 0px 5px;
  font-size: smaller;
  border-radius: 2px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question > .text-control.empty {
  box-shadow: 0px 0px 3px red;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  height: 25px;
  border-radius: 2px;
  align-items: center;
  margin-bottom: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .header .text {
  padding-left: 5px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .header .add {
  background: #fff;
  display: grid;
  place-items: center;
  width: 25px;
  height: 100%;
  cursor: pointer;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .header .add.more-option-required {
  animation: shadow 1s alternate infinite ease-in-out;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .option-list {
  list-style: none;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .option-list .option {
  position: relative;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .option-list #answer {
  -webkit-appearance: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  border: 1.5px groove;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .option-list #answer::before {
  position: absolute;
  content: "A";
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
  color: white;
  display: grid;
  place-items: center;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .option-list #answer:checked {
  background: #4d4646;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .option-list #answer.required {
  animation: shadow 1s alternate infinite ease-in-out;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .remove-option {
  background: #e2dede;
  border-radius: 50px;
  display: grid;
  cursor: pointer;
  place-items: center;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .text-control {
  height: 25px;
  width: 100%;
  resize: none;
  font-size: smaller;
  padding: 5px 5px 5px 27px;
  border-radius: 10px 50px 50px 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .question-options .text-control.empty {
  box-shadow: 0px 0px 3px red;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .options .option-wrap {
  width: 31%;
  padding: 5px;
  display: flex;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options label {
  font-size: 10px;
  font-weight: 600;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .text-control {
  width: 80%;
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  color: #4d4646;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .text-control.required {
  animation: shadow 1s alternate infinite ease-in-out;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .challenge {
  position: relative;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .challenge .control {
  height: 20px;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .challenge input.challenge {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(102, 99, 99, 0.241);
  cursor: pointer;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .challenge input.challenge::before {
  position: absolute;
  content: "C";
  height: 100%;
  width: 100%;
  padding-bottom: 5px;
  color: white;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.wrapper .main-body .chat-form-container .chats-form .room-footer .create-question .poll-body .additional-options .challenge input.challenge:checked {
  background: #4d4646;
}

.wrapper .chats-container {
  flex: 0.3;
  background: #ececec;
  height: calc(100vh - 80px);
  margin-top: 5px;
  border-top-left-radius: 10px;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1049px) {
  .wrapper .chats-container {
    flex: 0;
    position: absolute;
    right: -300px;
    width: 300px;
    z-index: 100;
  }
  .wrapper .chats-container.show {
    right: 0;
  }
  .wrapper .chats-container .toggle {
    position: absolute;
    content: "";
    height: 60px;
    width: 20px;
    top: 10px;
    z-index: 100;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in-out;
    background: #d6d6d67d;
  }
  .wrapper .chats-container .toggle::before, .wrapper .chats-container .toggle::after {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 50%;
    transform: translateY(-50%);
    content: "";
    background: #4d4646;
  }
  .wrapper .chats-container .toggle {
    left: -20px;
    border-radius: 5px 0px 0px 5px;
  }
  .wrapper .chats-container .toggle::before {
    left: 7px;
  }
  .wrapper .chats-container .toggle::after {
    left: 14px;
  }
  .wrapper .chats-container.show .toggle {
    left: 280px;
    top: 0;
    border-radius: 0px 0px 0px 10px;
    box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
    height: 40px;
    background: #4d4646;
  }
  .wrapper .chats-container.show .toggle::before, .wrapper .chats-container.show .toggle::after {
    background: #e2dede;
  }
}

@media (max-width: 399px) {
  .wrapper .chats-container.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border-radius: 0;
  }
  .wrapper .chats-container.show .toggle {
    left: 95%;
  }
}

.wrapper .chats-container .chat-wrapper {
  height: calc(100vh - 80px);
  overflow: auto scroll;
}

.wrapper .chats-container .chat-wrapper::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 399px) {
  .wrapper .chats-container .chat-wrapper {
    height: 100vh;
  }
}

.wrapper .chats-container .chats-header {
  z-index: 10;
  background: #d6d6d67d;
  font-weight: 600;
  border-radius: 10px 0px 0px;
  transition: all 0.5s ease-in-out;
  position: sticky;
  top: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 399px) {
  .wrapper .chats-container .chats-header {
    border-radius: 0;
  }
}

.wrapper .chats-container .chats-header .title {
  font-size: 16px;
  padding: 10px;
}

.wrapper .chats-container .chats-header .chats-nav {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px 0px 0px;
  background: #d6d6d67d;
  position: relative;
}

.wrapper .chats-container .chats-header .chats-nav .common,
.wrapper .chats-container .chats-header .chats-nav .private {
  flex: 0.6;
  display: grid;
  place-items: center;
}

.wrapper .chats-container .chats-header .chats-nav .common .icon,
.wrapper .chats-container .chats-header .chats-nav .private .icon {
  max-width: 50px;
}

.wrapper .chats-container .chats-header .chats-nav .nav-active {
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 0;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #597f85;
}

.wrapper .chats-container .chats-header .chats-nav .nav-active.p {
  left: 50%;
}

.wrapper .chats-container .chats-body {
  position: relative;
}

.wrapper .chats-container .chats-body .common-chats.pub-chats,
.wrapper .chats-container .chats-body .private-chats {
  width: 100%;
  padding: 10px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  background: #ececec;
}

@media (max-width: 399px) {
  .wrapper .chats-container .chats-body .common-chats.pub-chats,
  .wrapper .chats-container .chats-body .private-chats {
    height: calc(100vh - 60px);
  }
}

.wrapper .chats-container .chats-body .private-chats {
  visibility: hidden;
}

.wrapper .chats-container .chats-body .private-chats.p {
  z-index: 5;
  visibility: visible;
}

.wrapper .chats-container .chats-body .private-chats .chat-security {
  display: grid;
  place-items: center;
  place-content: center;
  height: 300px;
}

.wrapper .chats-container .chats-body .private-chats .label {
  margin-bottom: 20px;
}

.wrapper .chats-container .chats-body .private-chats .label h4 {
  font-size: 18px;
  color: #4d4646;
}

.wrapper .chats-container .chats-body .private-chats .unlock {
  width: 200px;
  height: 30px;
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 1px rgba(102, 99, 99, 0.241);
}

.wrapper .chats-container .chats-body .chats-list {
  list-style: none;
}

.wrapper .chats-container .chats-body .chats-list .chat {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 30px;
  background: #fff;
  margin-bottom: 7px;
  position: relative;
  padding-left: 40px;
}

.wrapper .chats-container .chats-body .chats-list .chat .user {
  position: absolute;
  left: 0;
  top: -2px;
}

.wrapper .chats-container .chats-body .chats-list .chat .image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.wrapper .chats-container .chats-body .chats-list .chat .username {
  width: 80%;
  line-height: 13px;
  font-weight: 600;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #4d4646;
}

.wrapper .chats-container .chats-body .chats-list .chat .username .name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrapper .chats-container .chats-body .chats-list .chat .username .last-message {
  color: #597f85;
  font-size: 10px;
}

.wrapper .chats-container .chats-body .chats-list .chat .status.not-seen-message {
  width: 20%;
  position: relative;
}

.wrapper .chats-container .chats-body .chats-list .chat .status.not-seen-message .active {
  width: 5px;
  height: 5px;
  background: #597f85;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  right: 15px;
}

.wrapper .chats-container .chats-body .chats-list .chat .status.not-seen-message .not-seen {
  width: 15px;
  height: 15px;
  font-size: 10px;
  position: absolute;
  bottom: 6px;
  right: 10px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: #e2dede;
}
/*# sourceMappingURL=main.css.map */