<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/auth.css" />
    <script src="../javascript/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap"
      rel="stylesheet"
    />
    <title>ZABLOT - Login Page</title>
  </head>
  <body>
    <div class="container auth login-content">
      <div class="auth-header">
        <div class="logo_container">
          <a href="/" class="logo">ZABLOT</a>
        </div>
        <div class="header-center">
          <div class="link">
            <a href="/about-us" class="about-us">About us</a>
          </div>
          <div class="link">
            <a href="/learn-more" class="about-us">Learn more</a>
          </div>
        </div>
        <div class="header-right">
          <div class="signup-btn">
            <a href="/register" class="btn signup-link">Sign up</a>
          </div>
        </div>
      </div>
      <div class="wrapper sign_in">
        <div class="wrapper-flex">
          <form action="#" class="auth_form" data-name="login">
            <div class="form_group_wrapper sign_in_wrapper">
              <div class="primary-text">Login</div>
              <%- include("validation") -%>
              <div class="secondary-text">
                Let’s get you on track with your learning
              </div>
              <div class="form-group" id="userEmail">
                <input
                  type="text"
                  name="userEmail"
                  class="form-control user-email"
                  placeholder="Enter your Email"
                />
                <div class="invalid-feedback">Email is invalid or empty*</div>
              </div>
              <div class="form-group" id="userPassword">
                <input
                  type="password"
                  id="user-password"
                  name="userPassword"
                  placeholder="Enter your password"
                  class="user-password form-control"
                />
                <div class="password-toggle">
                  <img
                    src="/svgs/password.svg"
                    alt=""
                    class="pass-svg"
                    id="pass-svg"
                  />
                </div>
                <div class="invalid-feedback">Password is required*</div>
              </div>
              <button type="submit" class="btn submit_btn auth-log">
                SIGN IN
              </button>
              <p class="register-link">
                Don't have an account?
                <a href="/register" class="Create">Create One</a>
              </p>
            </div>
          </form>
          <div class="svg-container">
            <div class="image-wrap">
              <img src="/images/graduation-hat.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <%- include('../footer') -%> -->
    <script src="/javascript/bootstrap.bundle.min.js"></script>
    <script src="/javascript/auth.js"></script>
  </body>
</html>
