@import "./mixins";
@import "./variable";

.attempt-quiz-wrapper {
  width: 100%;
  height: 100%;
  padding: 1em;

  .page-title {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  .body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 40px);
    border-radius: 20px;

    .auth,
    .loader {
      width: 350px;
      max-width: 100%;
      border-radius: 20px;
      box-shadow: $shadow;
      padding: 2em;
      background: #fff;

      .label {
        font-size: 0.9em;
        font-weight: 500;
      }

      .form-label {
        font-weight: 500;
        margin-bottom: 1em;
        text-align: center;
      }

      .form-action {
        margin-top: 1em;
        .btn-toggle {
          border-radius: 50px;
        }
      }
    }
  }
}
