@-webkit-keyframes shadow {
  50% {
    -webkit-box-shadow: 0px 0px 2px 2px #dc121261;
            box-shadow: 0px 0px 2px 2px #dc121261;
  }
  100% {
    -webkit-box-shadow: 0px 0px 4px 4px #dc121261;
            box-shadow: 0px 0px 4px 4px #dc121261;
  }
}

@keyframes shadow {
  50% {
    -webkit-box-shadow: 0px 0px 2px 2px #dc121261;
            box-shadow: 0px 0px 2px 2px #dc121261;
  }
  100% {
    -webkit-box-shadow: 0px 0px 4px 4px #dc121261;
            box-shadow: 0px 0px 4px 4px #dc121261;
  }
}

.chats-container {
  background: #ebebeb;
  padding: 10px;
  height: calc(100vh - 90px);
  margin-block: 5px;
  margin-right: 10px;
  width: 320px;
  max-width: 100vw;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  overflow: hidden scroll;
}

.chats-container::-webkit-scrollbar {
  width: 0px;
}

@media (max-width: 830px) {
  .chats-container {
    z-index: 100;
    position: fixed;
    top: 69px;
    right: 10px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0px 2px 7px black;
            box-shadow: 0px 2px 7px black;
    pointer-events: none;
    opacity: 0;
    height: calc(100vh - 80px);
  }
  .chats-container.show {
    opacity: 1;
    pointer-events: initial;
  }
  .chats-container .open {
    position: absolute;
    content: "";
    height: 60px;
    width: 20px;
    top: 10px;
    z-index: 100;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background: #e5e5e5;
  }
  .chats-container .open::before, .chats-container .open::after {
    position: absolute;
    top: 50%;
    width: 2px;
    height: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    content: "";
    background: #4d4646;
  }
  .chats-container .open {
    left: -10px;
    border-radius: 5px 0px 0px 5px;
  }
  .chats-container .open::before {
    left: 5px;
  }
  .chats-container .open::after {
    left: 14px;
  }
  .chats-container.show .open {
    left: 300px;
    top: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0px 2px 7px black;
            box-shadow: 0px 2px 7px black;
    height: 40px;
    background: #696969;
  }
  .chats-container.show .open::before, .chats-container.show .open::after {
    top: 40%;
    left: 50%;
    height: 25%;
    background: #f3f1f1;
  }
  .chats-container.show .open::before {
    -webkit-transform: rotateZ(145deg);
            transform: rotateZ(145deg);
  }
  .chats-container.show .open::after {
    -webkit-transform: rotateZ(-145deg);
            transform: rotateZ(-145deg);
  }
}

@media (max-width: 399px) {
  .chats-container {
    top: 60px;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    right: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    height: calc(100vh - 60px);
  }
}

.chats-container .loader {
  height: 100%;
  width: 320px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.chats-container .no-friend-available {
  text-align: center;
  margin-top: 40%;
  font-size: 0.75em;
}

.chats-container .chats-header {
  background: #ebebeb;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  border-bottom: thin solid #c8c8c8;
}

.chats-container .chats-header .title {
  font-size: 1em;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}

.chats-container .chats_listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5em;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 7px black;
          box-shadow: 0px 2px 7px black;
  margin-bottom: 10px;
}

.chats-container .chats_listItem .avatar {
  width: 35px;
  height: 35px;
  position: relative;
}

.chats-container .chats_listItem .avatar .list_image {
  border-radius: 10px;
}

.chats-container .chats_listItem .avatar .badge {
  background-color: #44b700;
  color: #44b700;
  -webkit-box-shadow: 0 0 0 2px #fdfcfc;
          box-shadow: 0 0 0 2px #fdfcfc;
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 10%;
  right: 0;
  border-radius: 50%;
}

.chats-container .chats_listItem .avatar .badge.offline {
  visibility: hidden;
}

.chats-container .chats_listItem .avatar .user_image {
  border-radius: 50%;
}

.chats-container .chats_listItem .text {
  width: calc(100% - 2.5em);
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}

.chats-container .chats_listItem .text .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chats-container .chats_listItem .text .primary_text {
  font-size: 1em;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
  font-weight: 600;
}

.chats-container .chats_listItem .text .secondary_text {
  font-size: 0.8em;
  overflow: hidden;
  font-weight: 400;
  text-overflow: ellipsis;
}

.chats-container .chats_listItem .unseenmessages.badge {
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #ebebeb;
  font-weight: 600;
  font-size: 0.8em;
  padding-top: 1px;
}
/*# sourceMappingURL=chatboard.css.map */