@import "./_variable";
@import "./mixins";

$white: #fdfcfc;
$small: 1em;
$smaller: 0.8em;
$medium: 2em;
$large: 2.5em;
$xlarge: 3em;
$borderColor: #d7cdcd;

.chats-container {
  background: #ebebeb;
  padding: 10px;
  height: calc(100vh - 90px);
  margin-block: 5px;
  margin-right: 10px;
  width: 320px;
  max-width: 100vw;
  transition: $transition;
  border-radius: 10px;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  @include media_830 {
    z-index: 100;
    position: fixed;
    top: 69px;
    right: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: $shadow;
    pointer-events: none;
    opacity: 0;
    height: calc(100vh - 80px);

    &.show {
      opacity: 1;
      pointer-events: initial;
    }

    @include toggle("open");
    .open {
      left: -10px;
      border-radius: 5px 0px 0px 5px;

      &::before {
        left: 5px;
      }
      &::after {
        left: 14px;
      }
    }

    &.show .open {
      left: 300px;
      top: 0;
      border-radius: 0px;
      box-shadow: $shadow;
      height: 40px;
      background: map-get($map: $color, $key: "grey");

      &::before,
      &::after {
        top: 40%;
        left: 50%;
        height: 25%;
        background: map-get($map: $color, $key: "lightgrey");
      }
      &::before {
        transform: rotateZ(145deg);
      }
      &::after {
        transform: rotateZ(-145deg);
      }
    }
  }

  @include media_399 {
    top: 60px;
    border-radius: 0;
    box-shadow: none;
    right: 0;
    left: 0;
    width: 100vw;
    max-height: 100vh;
    height: calc(100vh - 60px);
  }
  .loader {
    height: 100%;
    width: 320px;
    display: grid;
    place-items: center;
  }

  .no-friend-available {
    text-align: center;
    margin-top: 40%;
    font-size: map-get($map: $fonts, $key: "smaller");
  }

  .chats-header {
    background: #ebebeb;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
    border-bottom: thin solid #c8c8c8;

    .title {
      font-size: map-get($fonts, "small");
      font-weight: 500;
      padding: 10px;
      text-align: center;
    }
  }

  .chats_listItem {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    gap: 0.5em;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $shadow;
    margin-bottom: 10px;

    .avatar {
      width: 35px;
      height: 35px;
      position: relative;

      .list_image {
        border-radius: 10px;
      }

      .badge {
        background-color: #44b700;
        color: #44b700;
        box-shadow: 0 0 0 2px $white;
        width: 8px;
        height: 8px;
        position: absolute;
        bottom: 10%;
        right: 0;
        border-radius: 50%;

        &.offline {
          visibility: hidden;
        }
      }

      .user_image {
        border-radius: 50%;
      }
    }

    .text {
      width: calc(100% - 2.5em);
      line-height: 1.2em;
      white-space: nowrap;
      overflow: hidden;

      .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .primary_text {
        font-size: $small;
        overflow: hidden;
        text-transform: capitalize;
        text-overflow: ellipsis;
        font-weight: 600;
      }
      .secondary_text {
        font-size: $smaller;
        overflow: hidden;
        font-weight: 400;
        text-overflow: ellipsis;
      }
    }

    .unseenmessages.badge {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background: #ebebeb;
      font-weight: 600;
      font-size: $smaller;
      padding-top: 1px;
    }
  }
}
