@import "./_variable.scss";
@import "./mixins";

@mixin scrollbar {
  &::-webkit-scrollbar {
    appearance: none;
    height: 100%;
    width: 0px;
    background: map-get($map: $color, $key: "lightergrey");
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: map-get($map: $color, $key: "grey");
  }
}

.create-quiz-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 62px);
  width: calc(100vw - 230px);

  @include media_1049 {
    width: calc(100vw - 50px);
  }

  @include media_549 {
    width: 100vw;
  }

  .question-toggler {
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background: map-get($map: $color, $key: "green");
    color: white;
    transition: $transition;
    display: none;

    &:hover {
      background: darken(
        $color: map-get($map: $color, $key: "grey"),
        $amount: 10
      );
    }

    @include media_830 {
      display: block;
    }
  }
}
.form-container {
  width: 500px;
  max-width: 100%;
  margin: auto;
  height: 100%;
  overflow: auto;
  padding-block: 1em;
  color: map-get($map: $color, $key: "brown");
  @include scrollbar();

  .create-wrapper {
    height: auto;

    .header-top {
      font-weight: 400;
      padding: 1em;
      font-size: 0.8em;
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      max-width: 90%;
      margin: auto;
      margin-bottom: 2em;
    }
  }

  .text {
    font-weight: 500;
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  .question-form {
    padding: 1em;
    width: fit-content;
    margin: auto;
    max-width: 100%;
  }

  .question-box {
    width: 600px;
    max-width: 100%;
    background: map-get($map: $color, $key: "white");
    padding: 10px;
    box-shadow: $shadow;
    resize: none;
    min-height: 100px;
    border-radius: 5px;
  }

  .option-list-container {
    list-style: none;
  }

  .options-wrap {
    width: 600px;
    max-width: 100%;
    .header {
      display: flex;
      padding: 0px;
      align-items: center;
      border-radius: 5px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;
      font-weight: 500;
      font-size: 0.8em;
      padding: 0.3em 5px;
      background: #fff;
      z-index: initial;

      // background: map-get($map: $color, $key: "lowgrey");
      .add {
        background: map-get($map: $color, $key: "green");
        border-radius: 5px;
        color: #fff;
      }
    }

    .option:not(:last-child) {
      margin-bottom: 1em;
    }
    .text-box {
      background: #fff;
      height: 40px;
      width: 600px;
      max-width: 100%;
      box-shadow: $shadow;
      border-radius: 5px;
      overflow: hidden;
      display: flex;
      position: relative;
      justify-content: flex-start;

      .answer.checkbox {
        appearance: none;
        height: 100%;
        position: relative;
        width: 40px;

        &::before {
          position: absolute;
          content: "A";
          height: 100%;
          width: 100%;
          font-size: map-get($map: $fonts, $key: "medium");
          display: grid;
          font-weight: 800;
          place-items: center;
          justify-items: center;
          color: map-get($map: $color, $key: "brown");
          background: map-get($map: $color, $key: "lowgrey");
        }

        &:checked {
          &::before {
            background: map-get($map: $color, $key: "green");
            color: #fff;
          }
        }
      }

      .text-control {
        flex-grow: 1;
        background: transparent;
        height: 100%;
        padding: 10px 5px;
        resize: none;
      }

      .remove-btn:hover {
        background: transparent;
      }
    }
  }
}

.created-questions-container {
  border-radius: 20px;
  margin: 10px;
  width: 400px;
  // min-width: 400px;
  max-width: 100%;
  box-shadow: $shadow;
  height: 100%;
  overflow: hidden;
  transition: right 0.5s ease-in-out;
  color: map-get($map: $color, $key: "brown");
  background: map-get($map: $color, $key: "white");

  @include media_830 {
    position: absolute;
    right: -130%;
  }

  &.open {
    right: 0;
    opacity: 1;
    transition: right 0.5s cubic-bezier(0, 0.71, 0, 1.15);
  }
}

.created-questions {
  height: inherit;

  .wrap {
    height: inherit;
    overflow: auto;
    position: relative;
    padding-block-end: 1em;

    @include scrollbar();
  }

  .no-question-created {
    padding: 5em;
    text-align: center;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    z-index: 100000;
    background: map-get($map: $color, $key: "white");
    backdrop-filter: blur(3px);

    .title {
      font-weight: 500;
    }

    .close-btn {
      padding: 5px 10px;
      border-radius: 25px;
      color: #fff;
      font-size: 10px;
      background: map-get($map: $color, $key: "coral");
      display: none;

      @include media_830 {
        display: initial;
      }
    }
  }
  .question-list {
    list-style: none;
    padding: 1em;

    .question-wrapper {
      padding: 10px;
      box-shadow: $shadow;
      background: map-get($map: $color, $key: "lowgrey");
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .question-index .index-text {
      font-weight: 500;
      font-size: map-get($map: $fonts, $key: "small");
      text-align: left;
      background: map-get($map: $color, $key: "lowgrey");
      padding-block: 10px;
      border-radius: 10px;
    }

    .label-text {
      font-size: map-get($map: $fonts, $key: "smaller");
      font-weight: 500;
      margin-block: 5px;
      padding-block: 5px;
    }

    .question-option {
      position: relative;
      .answer-tooltip {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
      }

      .answer-check {
        fill: map-get($map: $color, $key: "green");
      }
    }
    .question-option:not(:last-child) {
      // border-bottom: thin solid grey;
      margin-bottom: 5px;
    }

    .text {
      font-size: map-get($map: $fonts, $key: "smaller");
      padding: 10px;
      font-weight: 400;
      letter-spacing: 0.7px;
      border-radius: 5px;
      background: map-get($map: $color, $key: "white");
    }

    .fab-wrapper {
      position: absolute;
      top: 9px;
      right: 10px;
      width: fit-content;
      display: flex;
      gap: 10px;
      border-radius: 10px;

      .fab {
        border-radius: 50%;
        z-index: initial;
        background: map-get($map: $color, $key: "green");

        .fab-icon {
          fill: #fff;
        }

        &:hover {
          background: #fff;
          .fab-icon {
            fill: map-get($map: $color, $key: "brown");
          }
        }
      }
    }
  }

  .button-wrap {
    padding: 10px;
    .btn {
      z-index: initial;
      background-color: map-get($map: $color, $key: "coral") !important;
    }
  }
}

.button-wrap {
  width: 600px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  margin-top: 20px;

  .btn {
    width: fit-content;
    min-width: 100px;
    padding: 5px 15px;
    text-align: center;
    font-weight: 300;
    box-shadow: $shadow;
    border-radius: 50px;
    text-transform: capitalize;
    color: #fff;
    background: map-get($map: $color, $key: "green");

    &:hover {
      background: darken(
        $color: map-get($map: $color, $key: "green"),
        $amount: 10
      );
    }
  }
}

// =======================
// Edit Question Section
.edit-question {
  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 70%);
    display: flex;
    align-items: center;
  }
  .edit-wrap {
    background: map-get($map: $color, $key: "lightergrey");
    width: 400px;
    max-width: 90%;
    height: 90%;
    padding: 0;
    overflow: auto;
    box-shadow: $shadow;
    margin: auto;
    transition: $transition;

    .header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      // position: sticky;
      // top: 0;
      margin-bottom: 10px;
      padding: 1em;
      // z-index: 100;
      // background: map-get($map: $color, $key: "lowgrey");
      // backdrop-filter: blur(3px);
      .title {
        font-weight: 600;
      }
      .close-btn {
        padding: 5px 10px;
        border-radius: 5px;
        color: #fff;
        font-size: 10px;
        background: map-get($map: $color, $key: "green");
      }
    }

    .options-wrap {
      .header {
        padding: 0.3em 5px;
        background: #fff;
        z-index: initial;
      }
    }

    .question-box {
      background: #fff;
      max-width: 100%;
    }

    .options-wrap {
      .text-box {
        background: map-get($map: $color, $key: "white");

        .answer.checkbox {
          &::before {
            color: map-get($map: $color, $key: "brown");
            background: map-get($map: $color, $key: "lightergrey");
          }

          &:checked {
            &::before {
              background: map-get($map: $color, $key: "grey");
              color: #fff;
            }
          }
        }

        .remove-btn:hover {
          background: transparent;
        }
      }
    }
  }
}

// Upload question sections stylesheet
.upload-question {
  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 70%);
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 0.9em;
    margin-block: 1em;
  }
  .upload-wrapper {
    background: #f2f2f2;
    width: 400px;
    max-width: 90%;
    height: 90%;
    padding: 1em 1.5em;
    overflow: auto;
    box-shadow: $shadow;
    margin: auto;
    transition: $transition;

    @include scrollbar();
  }

  .form-wrapper {
    display: block;
    position: relative;
    height: 100%;
    max-width: 100%;
  }

  .button-wrap {
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    padding: 10px;
    margin-top: 2em;
  }

  .additional-fields {
    grid-column: 1/3;

    .title {
      margin-block: 1em;
    }
  }

  .details-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    flex-direction: row-reverse;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    align-items: center;
    padding: 30px;
    overflow: hidden;
    background: white;

    .title {
      font-weight: 300;
      color: map-get($map: $color, $key: "grey");
    }
    .header .title {
      margin-block: 10px;
    }

    .card {
      background: #fff;
      padding: 10px;
      border-radius: 5px;
      box-shadow: $shadow;
      min-width: 100%;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .text {
        font-size: map-get($map: $fonts, $key: "smaller");
      }
    }
  }

  .pdf-format {
    transform: scale(0.5) translate(-50%, -50%);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.loader {
  height: 100%;
  display: grid;
  place-items: center;
  .loader-wrapper {
    width: 100%;
    gap: 20px;
    display: grid;
    place-items: center;
  }
}
